/*reset*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
li{list-style:none}
a{text-decoration:none}
a[href^="tel"]{ font-style:normal}
address, caption, em, var{font-style:normal;font-weight:normal}
input, textarea, select{letter-spacing:normal}
ol, ul, dl{list-style:none; margin:0; padding:0;}
fieldset, img{border:0}
legend, caption{display:none}
img{border:0;vertical-align:top}
hr{display:none}
table{border-collapse:collapse;border-spacing:0}
br{letter-spacing:normal}
p{letter-spacing:normal}
input{vertical-align:middle}
input[type="text"], input[type="password"]{-webkit-appearance:none}
input[type="checkbox"]{-webkit-appearance:none;-webkit-border-radius:0}
input:checked[type="checkbox"]{-webkit-appearance:checkbox}
input[type="radio"]{border:none;-webkit-appearance:none}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:button;border-radius:0}
textarea{-webkit-appearance:none}
select{-webkit-appearance:menulist-text}

/*App*/
body{
    background: #f5f5f5;
}
#root{
    position: relative;
    width: 500px;
    height: 500px;
    margin:0 auto;
}
li.diaryList{
    position: relative;
    margin: 10px 23px 0;
    .closeBtn{
        display: none;
    }
    &:hover{
        .closeBtn{
            display: block;
            position: absolute;
            top: 0;
            right: -35px;
            bottom: 0;
            width: 40px;
            height: 40px;
            margin: auto 0;
            font-size: 30px;
            color: #cc9a9a;
            margin-bottom: 11px;
            transition: color 0.2s ease-out;
            border: 0;
            outline: 0;
            background: none;
            cursor: pointer;
            &:after{
                content: 'x';
            }
        }
    }
    .dates{
        float: left;
        width: 50px;
        margin-right: -1px;
        border: solid 1px #333;
        .day{
            display: block;
            text-align: center;
            height: 23px;
            border-bottom: solid 1px #333333;
            background-image: url('../images/lineBg.png');
            font-size: 12px;
        }
        .date{
            display: block;
            text-align: center;
            height: 35px;
            padding-top: 5px;
            font-size: 18px;
        }
        .holiday{
            color: red;
        }
    }
    .diary-view__text{
        position: relative;
        width: 400px;
        height: 60px;
        padding: 8px;
        border: solid 1px #666;
        line-height: 20px;
        overflow: hidden;
        a{
            display: block;
            color: #000;
        }
        a.writeText{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* 라인수 */
            -webkit-box-orient: vertical;
            word-wrap:break-word;
        }
     }
    .lineText{
        display: none;
        position: relative;
        width: 400px;
        height: 60px;
        padding: 8px;
        border: solid 1px #666;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap:break-word;

        &:after{
            content:'';
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 400px;
            height: 10px;
            background: #f5f5f5;
        }
    }
    &:after{
        clear: both;
        content: '';
    }
}

.write{
    header.header{
        h1{
            margin: 10px 0;
            font-size: 18px;
            span{
                margin: 0 10px;
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    textarea.writeText{
        display: block;
        width: 500px;
        height: 300px;
        font-size: 14px;
    }
    button.writeBtn{
        float: right;
        margin-top: 10px;
        font-size: 14px;
    }
}

.footer{
    width: 100%;
    margin: 10px 0;
    padding: 0 25px;

    .btns{
        display: block;

        *{
            float: right;
        }
    }
}